.stocks-all-list {
    width: 900px;
    border: 1px solid #cecece;
    padding: 10px;
    background-color: #f9f9f9;
  }
  
  .stock-list-item {
    padding: 10px;
    display: flex;
    justify-content: space-between;
    height: 35px;
    border-bottom: 1px solid #eaeaea;
    font-family: Arial, sans-serif;
    font-size: 16px;
    color: #333;
    cursor: pointer;
  }
  
  .pagination-footer{
    display: flex;
    justify-content: space-between;
  }

  .pagination-footer-items-container{
    display: flex;
    justify-content: space-between;
    width: 100px;
  }

  .pagination-footer-items-container p:hover{
    cursor: pointer;

  }

  .current-page-link {
    color: red
  }